<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face detection</title>
    <meta name="description" content="Detect facial points through the use of webcam and predicting server">
    <meta name="author" content="//ivarprudnikov.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta id="theme-color" name="theme-color" content="#fff">

    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Face detector</a>
    </div>
</nav>

<main role="main" class="container">

    <div class="row">
        <div class="col">
            <div class="camera">
                <video id="video">Video stream not available.</video>
                <button id="takephoto" class="btn btn-primary">Take photo</button>
                <button id="startplayback" class="btn">Start playback</button>
                <button id="stopplayback" class="btn">Stop playback</button>
            </div>
        </div>
        <div class="col">
            <canvas id="canvas"></canvas>
        </div>
    </div>

</main>



<script src="{{ url_for('static',filename='jquery-3.3.1.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static',filename='index.js') }}"></script>

</body>
</html>